<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}   
</head>
<body>
   
   {{>navbar}}

    <!---main header--->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <div class="row">
                    <!--right div-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/w4.jpg"  alt="manish" class="img-fluid"  title="sharma">
                        
                        </figure>
     
                     </div>
                   <!--left div-->
                   <div class="col-md-6 col-12 main_header_left">
                  <p>Welcome to the weather app</p>
                <h1>I am a <span class="text_clr">full stack </span>Web Developer</h1>  
                <a  href="/about"><button>About us</button></a>
                </div>
                  
                   
               </div>
            
            </div>
                </div>
                </div>

            <!--Footer-->
            {{>footer}}
</body>
</html>